<h3>Edit Resource <%= @resource.name %> </h3>

<% if @errors %>
<%= erb :"_errors", locals: {errors: @errors} %>
<% end %>

<form method="POST" action="/resources/<%= @resource.id %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="name">Name:</label><br>
  <input type="text" name="resource[name]" value="<%= @resource.name %>"><br>
  <label for="name">Description:</label><br>
  <textarea rows="15" cols="75" name="resource[description]"><%= @resource.description %></textarea><br>
  <input type="submit" value="Submit Edits" class="button">
</form>